body {
	background-image: url("mountain.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

div {
	text-align: center;
	color: white;
	text-shadow: 2px 2px grey;
	
}

.first {
	text-transform: uppercase;
	font-size: 50px;
}

.second {
	font-family: 'Sacramento', cursive;
	font-size: 80px;
}

.btn-primary {
	background-color: #FF7C4C;
	border-color: #FF7C4C;
	}

.btn-primary:hover {
	background-color: #CB3700;
	border-color: #A62D00;
}